@{
    ViewData["Title"] = "Ежедневник";
}
    <table class="table">
        <thead>
            <tr>
                <th>Статус</th>
                <th>Тип записи</th>
                <th>Тема</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Место встречи</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>