@{
    ViewData["Title"] = "Ежедневник";
}

    <div class="row">
        <div class="col-4">
            <label class="form-control-plaintext">Отобразить за</label>
            <select class="form-control" id="dateFilter" onchange="filterByDate()">
                <option>День</option>
                <option>Месяц</option>
                <option selected>Список</option>
            </select>
        </div>
        <div class="col-4">
            <label class="form-control-plaintext">Поиск</label>
            <input type="text" class="form-control" id="search" onkeyup="searchFilter()" />
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Статус</th>
                <th>Тип записи</th>
                <th>Тема</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Место встречи</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>